/* #large-th
{
  display: grid;
  place-items: center;
} */

.container {
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 3rem;
    max-width: 910px;
  }
  
  .choose {
    width: 100%;
    height: 40px;
  }

  .top-icons {
    margin-right: 20px;
    font-size: 30px;
    color: gray;
    float: right;
  }
  
  .book {
    background-color: white;
    display: inline-block;
    width: 280px;
    height: 480px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 10px 0 10px;
    vertical-align: top;
    transition: height 1s;
    transition: all 0.3s ease;
  }

  .book:hover{
    transform: scale(1.05);

  }

  .book p {
    margin-left: 10px;
    margin-top: 3px;
  }
  
  .book .title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .book .description
  {
    font-size: 15px;
    font-style: italic;
  }

  .book .author {
    font-size: 15px;
    color: dodgerblue;
  }

  .book .author i{
    margin-right: 5px;
  }
  
  /* star button */
  .bookmark {
    position: relative;
    left: -.1cm;
    top: -1.6cm;
    float: right;
  }
  
  .cover {
    border-radius:10px;
    border: 2px solid rgb(220, 220, 200);
    background-color: rgb(220, 220, 220);
    height: 70%;
    overflow: hidden;
  }
  
  .cover img {
    width: 100%;
  }
  

  
 
  @media (max-width: 941px) {
    .container {
      max-width: 700px;
    }
    .book {
      margin: 49px;
    }
  }
  @media (max-width: 730px) {
    .book {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
    }
    /* .cover {
      
    } */
  }
  
  /*********************************
  other
  **********************************/
  
  /**********************************
  display change
  ***********************************/
  /*book height smaller, cover opacity, move text onto cover and star too
  animate it */
  #list-th:target .book {
    height: 250px;
    width: 280px;
    padding: 10px;
    /* margin: 25px auto 25px auto; */
    /* overflow: hidden; */
  }
  
  #list-th:target .cover {
    width: 246px;
  }
  
  #list-th:target img {
    opacity: .1;
  }
  
  #list-th:target p {
    margin-top: -82px;
    margin-left: 20px;
  }
  /* remove button? */
  #large-th:target .book {
    /* height: 450px; */
  }
  
.smallTiles{
  height: 250px;
  width: 280px;
  padding: 10px;
}

.smallTiles .cover{
  width: 100%;
}

.smallTiles img{
  opacity: 0.1;
}

.smallTiles .author{
  margin-top: -147px;
  margin-left: 20px;
  /* height: 100vh; */

}
.smallTiles .description{
  margin-top: -190px;
  margin-left: 20px;
  /* height: 100vh; */

}
.smallTiles i{
  margin-left: 30px;
  color: dodgerblue;
}